body {
    background-color: #f0f2f5;
}
.navbar-custom {
    padding: 0.7rem 1rem;
}
.navbar-custom .navbar-brand {
    color: white;
}
.navbar-custom .dropdown .btn {
    color: #ffffff;
    background: transparent;
    border: none;
    font-size: 16px;
}
.navbar-custom .dropdown .dropdown-menu {
    right: 0;
    left: auto;
}
.navbar-custom .dropdown .dropdown-menu a {
    color: #0069d9;
}
.search-section {
    padding: 20px 0;
    background-color: white;
    border-bottom: 1px solid #ddd;
}
.post-card {
    background-color: white;
    border: none;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0,0,0,.1);
    margin-bottom: 20px;
    transition: transform .2s; /* Animation */
}
.post-card:hover {
    transform: scale(1.02); /* Slightly enlarge the card on hover */
}
.post-card img {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.post-card .card-body {
    padding: 20px;
}
.post-card .card-title {
    margin-bottom: 15px;
}
.post-card .card-text {
    color: #606770;
}
img {
    height: 250px; /* Change this value to set the desired height */
    width: 200px; /* Change this value to set the desired width */
}